@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
/* font-family: 'Nunito', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

/* Header */

.header{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.menu-logo{
    flex: 1;
}

.menu-nav ul{
    display: flex;
}

.menu-nav ul li{
    margin: 0 15px 0 0;
}

.menu-nav ul li a{
    font-size: 1.56em;
    color: #F58514;
}

.menu-nav ul li a:hover{
    border-bottom: 2px solid #111318;
}

/* H1 Intro */

.intro{
    max-width: 960px;
    margin: 0 auto;
}

.intro h1{
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color:#F58514;
}

@media(max-width:720px){
    .intro{
        margin-left: 20px;
    }
}

@media(max-width:576px){
    .intro{
        margin-left: 20px;
        text-align: center;
    }
}



/* Sobre */

.sobre{
   
    max-width: 960px;
    margin: 50px auto;
    border-top: 3px solid #111318;
    border-bottom: 3px solid #111318;
    padding: 50px 0;

    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    width: 560px;
}

.sobre-info h1{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color:#F58514;
    margin-bottom: 40px;
}

.sobre-info p{
    font-size: 1.25em;
    color: #111318;
    max-width: 560px;
    padding-right: 20px;

}

.sobre-info-qualidade{
    display: flex;
    justify-content: space-evenly;
    max-width: 560px;
    margin-top: 30px;
}

.sobre-info-qualidade h2{
    font-style: italic;
    font-weight: lighter;
    font-size: 1.25em;
}

.sobre-info-qualidade h2::after{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #F58514;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 5px;
}



.sobre-info-qualidade h2:nth-child(3)::after{
    content: "";
    background-color:transparent;
}

.sobre-img{
    margin: 20px;
}

@media(max-width:720px){
    .sobre-info{
        margin-left: 20px;
        text-align: center;
    }
}

@media(max-width:576px){
    .sobre-info{
        margin-left: 20px;
    }
}


/* Cardapio */

.cardapio{
    max-width: 960px;
    margin: 0 auto;
}

.cardapio h1{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color:#F58514;
    margin-bottom: 40px;
}
.flex-container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    
    
}

.cardapio-item{
    max-width: 300px;
    text-align: center;
    margin:20px;
    padding: 10px;
    border: 2px solid #F58514;
    border-radius: 15px;
}

.cardapio-item h2{
    font-family: 'Dancing Script', cursive;
    color: #111318;
    font-size: 1.56em;
    margin-bottom: 20px;
    padding: 20px;
}

.cardapio-item h2::after{
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background-color:#111318 ;
    margin: 20px auto 0 auto;
}

.cardapio-item h3{
    font-size: 1.25em;
    color: #F58514;
    font-weight: normal;
}

.cardapio-item h3::after{
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background-color:#F58514 ;
    margin: 5px auto;
}

.cardapio-item p{
    font-weight: lighter;
    margin-bottom: 25px;
    max-width: 220px;
    font-style: italic;
}

.principal{
    margin-top: 50px;
}

.sobremesa{
    margin-top: 50px;
}

.cardapio h2,.cardapio p{
    text-align: center;
}

.cardapio > h2{
    font-size: 2.5em;
    font-weight: normal;
    color: #F58514;
    margin-top: 40px;
}

.cardapio > h2::after{
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background-color:#F58514 ;
    margin: 5px auto;
}

.cardapio > p{
    font-weight: lighter;
    font-size: 1.25em;
    text-shadow: 2px 2px 4px #1113187a;
    margin-bottom: 40px;
    font-style: italic;
}

@media(max-width:720px){
    .cardapio{
    
        text-align: center;
    }
}

@media(max-width:576px){
    .cardapio{
        text-align: center;
    }
}

/* Unidades */


.unidades{
    background-color: #f4f4f4;
    padding: 60px 0;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.unidades-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container > h1{
    margin-bottom: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color:#F58514;
}

.unidades-item h2{ 
    font-weight: bold;
    font-size: 2.5em;
    color: #F58514;
}

.unidades-item p{
    font-size: 1.25em;
    color: #111318;
    font-weight: lighter;
    font-style: italic;

}

.endereco{
    margin-bottom: 20px;
}

.unidades-item a{
    font-size: 1.25em;
    font-weight: normal;
    color: #F4F6F5;
    background-color: #1993F0;
    padding: 10px 20px;
}

.unidades-item a:hover{
    background-color: #F58514;
}

@media(max-width:720px){
    .unidaderj{
        
        margin-bottom: 50px;
    }
}

@media(max-width:576px){
    .unidaderj{
        
        margin-bottom: 50px;
    }

    .unidadesp{
        position: relative;
        left: -10px;
    }
}

/* Citação */

.citacao{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}

.citacao h1{
    font-weight: normal;
    font-size: 2.5em;
    color: #F58514;
    border-bottom: 1px solid #F58514;
    padding: 10px;
}

.citacao p{
    font-size: 1.25em;
    font-weight: lighter;
    font-style: italic;
    padding: 10px;
}

/* Footer */

.footer{
    background-color: #1993F0;
    padding: 60px 0;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    color:#F4F6F5;
    font-size: 1.25em;
}

@media(max-width:576px){
    .footer{
        padding: 20px;
    }
}






















